:root {
  --highlight: #fb874f;
  --background:#422e58;
  --shadow: #faac6d;
  --descript: #d5bda9;
  --input-placeholder: #b287a9;
  --white: #fff;
  --background-w: #7b5a94;
  --border-rad: 32px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

a {
  text-decoration: none;
  outline: none;
}

h2 {
  margin: 0;
}
p,h3,h4,h5,h6 {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container-navbar, .navshop-container {
  position: fixed;
  margin: 0 auto;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0);
  min-width: 500px;
}

.navbar, .navshop-wrap {
  border-radius: var(--border-rad);
  background-color: var(--background-w);
  display: flex;
  align-items: space-evenly;
  justify-content: space-evenly;
  box-shadow: 0 1px 10px 0px var(--shadow);
}

.list-item, .navshop-item {
  animation: fadeIn 0.5s ease forwards;
}

.list-item, .navshop-item {
  list-style-type: none;
  min-height: 80px;
  display: flex;
  align-items: center;
  min-width: 120px;
  justify-content: center;
  color: var(--background);
  transform: translateY(0);
  transition: transform 0.5s ease, opacity 0.2s ease, color 0.2s ease;
  cursor: pointer;
  user-select: none;
}

.list-item > .fa-solid {
  font-size: 1.9em;
}

.list-item-name, .navshop-item-name {
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  transform: translate(0, 50px);
  transition: transform 0.3s ease, opacity 0.2s ease, color 0.5s ease;
  opacity: 0;
}

.list-item:hover, .navshop-item:hover {
  color: var(--highlight);
  transform: translateY(-5px);

  .list-item-name {
    transform: translateY(25px);
    opacity: 1;
  }
}

/*form auth*/
#form {
  background-color: var(--background);
  padding: 20px 35px 35px 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
}


.login-wrapper, .reg-wrapper {
  border-radius: var(--border-rad);
  border: 1px solid var(--background-w);
  background-color: var(--background-w);
  display: flex;
  width: 500px;
  height: 450px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  box-shadow: 0 1px 10px 0px var(--shadow);

}

.reg-wrapper {
  height: 520px;
  width: 500px;
}

.input-wrapper > i {
  color: var(--input-placeholder);
  font-size: 30px;
  transition: color 250ms ease-in;
}

.input-wrapper:not(:last-child) {
  position: relative;
}

.registration, .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login, .registration {
  gap: 10px;
}

.input-wrapper > i {
  color: var(--descript);
  position: absolute;
  opacity: 0.85;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  font-weight: 600;
  letter-spacing: 0;
  margin: 5px 0 10px 0;
  color: var(--background);
}

.description, .description.reg {
  color: var(--descript);
  font-size: 1.2em;
  margin: 2px 0 24px 0;
}

.description.reg {
  margin: 2px 0 10px 0;
}

input[type=text],
input[type=email],
input[type=password] {
  color: var(--background);
  border: 1px solid var(--input-placeholder);
  border-radius: 6px;
  font-size: 15px;
  padding: 13px 9px 13px 9px;
  transition: border-color 250ms ease-in;
  background: var(--input-placeholder);

  &:focus {
    border-color: var(--background);
    outline: none;
  }

  &:focus + i {
    color: var(--background);
  }
}

.input-wrapper > input {
  min-width: 300px;
}

.login-wrapper-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.error {
  color: red;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  font-style: italic;
  animation: animOpacity 0.5s ease forwards;
  opacity: 0;
}

::placeholder {
  color: var(--descript);
  font-size: 15px;
  opacity: 1;
}

.button[type=submit] {
  user-select: none;
  background: var(--background);
  border: none;
  border-radius: 6px;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  padding: 15px 30px;
  max-width: 100%;
  text-align: center;
  transition: background .15s ease-in;

  &:hover {
    background: var(--highlight);
  }

  i {
    margin-left: 5px;
  }
}

.input-wrapper > .faq,
.reg {
  font-size: 1em;
  transition: all 250ms ease-in;
  position: relative;
  padding-bottom: 3px;
  margin: 0 0 0 0;
}

.reg {
  color: var(--shadow);
}

.input-wrapper > .faq {
  margin-right: .3em;
  color: var(--background);
}

.reg::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--shadow);
  transition: transform 0.3s ease;
}

.reg:hover::after {
  transform: scaleX(1.1);
}

/*Loader */
.loader-wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: var(--background-w);
  animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

/*shop*/
/*navigation on shop*/
.shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
  padding: 0 0 20px 0;
  position: relative;
}

.navshop-container, .shop-container, .basket-container {
  opacity: 0;
}

.navshop-container {
  bottom: 0;
  top: 20px;
}

.navshop-item {
  min-width: 200px;
  min-height: 90px;
  flex-direction: column;
  transition: 0.2s all;
}

.navshop-item > .fa-solid {
  font-size: 2em;
}

.navshop-item-name {
  font-size: 1.3em;
  transition: 0.2s all;
  opacity: 1;
  transform: translateY(25px);
}

.navshop-wrap {
  border-radius: calc(var(--border-rad) - 10px);
}

.navshop-title {
  box-shadow: 0 1px 10px 0 var(--shadow);
  margin: 1.5em auto;
  gap: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--highlight);
  border-radius: var(--border-rad);
  background: linear-gradient(70deg, var(--background-w) 20%, var(--input-placeholder) 100%);
  background-size: 200% 200%;
  max-width: 500px;
  padding: 2em;
  font-size: 2.5em;
  animation: shopTitleAnim 7s ease infinite alternate forwards;
}

.navshop-title > .fa-solid {
  font-size: 2em;
  color: var(--shadow);
  animation: shopTitleAnim 2s alternate infinite ease-in forwards;
}

.shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100vh;
  place-content: center;
  place-items: center;
}

.product-card {
  perspective: 1000px;
  display: grid;
  opacity: 0;
  animation: fadeIn 1s ease-in alternate forwards;
  cursor: pointer;
  transition: 0.2s all;
  &:hover {
    transform: scale(1.05);
  }
}

.product-card-inner {
  position: relative;
  width: 250px;
  height: 350px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 1px 10px 0 var(--shadow);
  background: linear-gradient(70deg, var(--background-w) 20%, var(--input-placeholder) 100%);
  border-radius: var(--border-rad);
}

.product-card.flipped .product-card-inner {
  transform: rotateY(180deg);
}

.product-card-front,
.product-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: calc(var(--border-rad) - 10px);
  color: var(--shadow);
}

.product-card-front {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: rotateY(0deg);
}

.product-card-info {
  display: flex;
  flex-direction: column;
  gap: 7px;
  z-index: 9;
}

.product-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: rotateY(180deg);
  padding: 0.5em;
}

.product-card-title {
  font-size: 1.5em;
}

.product-card-price-value {
  font-size: 1.2em;
  color: var(--highlight);
  font-weight: 500;
  font-style: italic;
}

.product-card-memory-value {
  font: 1.1em "DejaVu Sans Mono";
  color: var(--shadow);
}

.product-card-front > img {
  max-width: 70%;
  border-radius: calc(var(--border-rad) - 10px);
}

.product-card-description {
  font-size: 0.8em;
  animation: animOpacity 0.5s ease forwards;
}

.product-card-title-desc {
  padding: 0.5em 0;
}

.list-item-bag > .fa-solid {
  z-index: 9;
  color: var(--highlight);
  font-size: 2em;
  transition: 0.3s all;
}

.list-item-bag > .fa-solid:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: var(--shadow);
}

/*basket page*/
.container-basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

.basket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basket {
  margin-bottom: 1rem;
}

.basket-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--shadow);
}

.basket-content {
  width: 100%;
  max-width: 800px;
}

.basket-item {
  color: var(--shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--background);
  border-radius: 5px;
  box-shadow: var(--shadow) 0 0 10px;
}

.basket-item-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.basket-item-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.basket-item-quantity {
  font-size: 1rem;
  color: var(--descript);
}

.basket-item-price {
  font-size: 1rem;
}

.basket-item-total {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--highlight);
}

.basket-item-remove-button {
  background-color: var(--descript);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.basket-item-remove-button:hover {
  background-color: var(--shadow);
}

.basket-empty {
  font-size: 1.2rem;
  text-align: center;
  color: var(--descript);
  margin-top: 2rem;
}
.remove-button {
  background-color: var(--descript);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.remove-button:hover {
  background-color: var(--shadow);
}

/*animation*/
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes animOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shopTitleAnim {
  0% {
    color: var(--shadow);
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    color: var(--highlight);
    background-position: 0 50%;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes l15 {
  100% {
    transform: rotate(1turn)
  }
}

/*media queries*/
@media (max-width: 1200px) {
  .navshop-item {
    justify-content: center;
    min-width: 150px;
    min-height: 80px;
  }

  .navshop-title {
    font-size: 1.8em;
    max-width: 400px;

    .fa-solid {
      font-size: 1.8em;
    }
  }

  .navshop-item-name {
    font-size: 1em;
  }
}

@media (max-width: 1024px) {
  .basket-item {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 850px) {
  .navshop-item {
    min-width: 135px;
    min-height: 80px;

    .fa-solid {
      font-size: 1.7em;
    }
  }

  .navshop-title {
    margin-top: 4em;

    font-size: 1.7em;
    max-width: 350px;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .basket-item {
    flex-direction: column;
    align-items: flex-start;
  }
}


@media (max-width: 690px) {
  .navshop-item {
    min-width: 120px;
    min-height: 80px;

    .fa-solid {
      font-size: 1.6em;
    }
  }

  .navshop-title {
    font-size: 1.6em;
    max-width: 300px;
    gap: 10px;
  }
}

@media (max-width: 650px) {
  .login-wrapper {
    width: 400px;
    height: 450px;
  }

  .reg-wrapper {
    height: 520px;
    width: 400px;
  }

  .registration, .login {
    gap: 10px;
  }
}

@media (max-width: 620px) {
  .navshop-item {
    min-width: 90px;

    .fa-solid {
      font-size: 1.5em;
    }
  }

  .navshop-title {
    font-size: 1.5em;
    max-width: 270px;
    gap: 10px;
    margin-top: 3em;

  }
}

@media (max-width: 525px) {
  .navbar {
    justify-content: center;
  }

  .container-navbar {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 510px) {
  .navshop-container {
    min-width: 400px;
  }

  .navshop-item {
    min-width: 20px;

    .fa-solid {
      font-size: 1.5em;
    }
  }

  .navshop-item-name {
    opacity: 0;
  }

  .navshop-item:hover {
    .navshop-item-name {
      transform: translateY(25px);
      opacity: 1;
    }
  }

  .navshop-title {
    font-size: 1.8em;
    gap: 10px;
  }
}

@media (max-width: 450px) {
  .list-item {
    flex-basis: auto;
    min-width: 90px;
  }

  .list-item:hover {
    .list-item-name {
      transform: translateY(25px);
    }
  }

  body {
    font: 1em sans-serif;
  }

  .title,
  .description {
    text-align: center;
    margin: 0 0 10px 0;
    padding: 10px 0 0 0;
  }

  .description.register {
    margin: 0 0 10px 0;
  }

  .description, .description.register {
    font-size: 1.1em;
  }

  .login-wrapper {
    width: 350px;
    height: 400px;
  }

  .reg-wrapper {
    height: 500px;
    width: 350px;
  }

  .button[type=submit] {
    padding: 12px 20px;
    font-size: 1em;
    text-align: center;
  }
}

@media (max-width: 420px) {
  .navshop-container {
    min-width: 320px;
  }
}